extends layout

block content
  h1= model
  .row
    .col-md-6
      p
        a(href='/') &lt;&lt; View All Ships
      table.table
        tr
          th Starship Class
          td= starship_class
        tr
          th Manufacturer
          td= manufacturer
        tr
          th Cost (Credits)
          td 
            +credits(cost_in_credits)
        tr
          th Length
          td= num(length) + ' meters'
        tr
          th Max Speed (Megalight)
          td= num(MGLT,0)+' '
            a(href='http://starwars.wikia.com/wiki/Megalight', 
              target='_blank') MGLT
        tr
          th Crew
          td= num(crew, 0)
        tr
          th Passengers
          td= num(passengers, 0)
    .col-md-6
      p video chat widget will go here!
  
